<%= form_with url: "/posts", class: 'frm_comment', scope: :comments do |f| %>
  <%= f.text_area :text, placeholder: "Add Comment", rows: 5, required: true, class: 'txtarea_input' %>
  <div class="line_break"><%= f.submit "Add Comment", class:'bttn_comment' %></div>
<% end %>
