@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
}

.fa-user {
  font-size: 100px;
}

body {
  font-family: 'Poppins', sans-serif;
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border: 1px solid #111;
  cursor: pointer;
  margin: 7px 0;
}

.user-info {
  display: flex;
}

.posts {
  float: right;
}

.navbar {
  background-color: #111;
  color: #fff;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  margin: 0 2rem;
}

.btn-outline-success {
  background-color: red;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.user-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #111;
  padding: 5px;
  margin-top: 15px;
}

.user_post {
  display: flex;
  justify-content: space-between;
  border: 1px solid #111;
  margin: 10px 0;
  padding: 5px 7px;
  align-items: center;
}

.user_bio {
  border: 1px solid #111;
  margin: 10px 0;
  padding: 5px 7px;
  align-items: center;
}

.single-header {
  border: 1px solid #111;
  padding: 5px;
  margin: 10px 0;
}

.single-post-header {
  display: flex;
  justify-content: space-between;
}

.btn_create_post {
  display: flex;
  justify-content: right;
  margin-top: 5px;
}

.btn_post_new {
  font-size: 0.8em;
  border: none;
  cursor: pointer;
  background-color: green;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.post_form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post_form h2 {
  width: 100%;
  text-align: center;
}

.post_form_element {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.input_from {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-style: normal;
}

.comment_from {
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-style: normal;
}

.textarea_from {
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-style: normal;
}

.like_form_element {
  display: flex;
  justify-content: right;
  width: 100%;
  margin-bottom: 10px;
}

.btn_submit_from {
  width: 100%;
  font-size: 20px;
  background-color: green;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
}

.comment_form_element {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.btn_submit_like_from {
  width: fit-content;
  font-size: 13px;
  border: none;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  font-style: normal;
}
