@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Varta', sans-serif;
  font-size: 1rem;
}

/* Styling for users view */
.grid__container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 16px;
  width: 80%;
  margin: 0 auto;
  padding: 18px;
}

.grid__container h1 {
  color: red;
  text-align: center;
  margin-bottom: 12px;
}

.grid__container div > ul  {
  list-style-type: none;
}

.grid__container div > ul li a  {
  text-decoration: none;
  color: black;
}

.card {
  display: flex;
  gap: 25px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 15px;
  max-width: 100%;
}

.card img {
  border: 1px solid #eee;
  max-width: 100%;
}

.card div {
  width: 100%;
}

.card div h3 {
  font-weight: 600;
  line-height: 2em;
}

.card div > p {
  color: #000;
  padding: 25px;
  text-align: right;
}

.card__bio {
  display: flex;
  gap: 25px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 15px;
  max-width: 100%;
}

.card__bio h2 {
  color: black;
  padding: 5px;
  font-weight: 600;
  font-size: 16px;
}
/* Styling for posts view */

.card__bio h2 > p {
  padding-top: 15px;
  font-weight: 300;
}

.card__posts {
  display: flex;
  gap: 25px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 100%;
}

.card__posts h3 {
  padding: 5px;
  font-weight: 600;
  font-size: 14px;
}

.card__posts ul {
  width: 100%;
}

.card__posts ul > li {
  padding: 5px;
  font-weight: 300;
  font-size: 13px;
  border: 1px solid aliceblue;
  margin-bottom: 10px;
}

.comments__likes_counter {
  color: #000;
  padding: 25px;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
}

.view__all_post {
  background-color: #eee;
  color: #000;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
  border: 0;
  padding: 10px 45px;
  width: fit-content;
  border: 1px solid #eee;
}

.card__posts h5 {
  text-align: center;
  margin-bottom: 15px;
}

.card__posts_by_id {
  gap: 25px;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  margin-bottom: 15px;
  width: 100%;
}

.card__posts_by_id .left {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: flex-start;
}

.card__posts_by_id .right{
  display: flex;
  font-size: 12px;
  justify-content: flex-end;
  width: 100%;
}

.card__posts_by_id h2 > p {
  font-size: 13px;
  padding-top: 25px;
}

.card__posts_by_id h2 > span {
  font-size: 13px;
}

.card__posts_by_id ul {
  width: 100%;
}

.card__post_by_id_comments {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.card__post_by_id_comments li {
  list-style-type: none;
  width: 100%;
}

.card__post_by_id_comments {
  border: 1px solid #eee;
  border-radius: 8px;
}

.card__posts_comments ul {
  border: 1px solid #eee;
  list-style-type: none;
  width: 100%;
}

.card__posts_comments ul > li {
  margin-bottom: 10px;
  line-height: 10px;
  padding: 10px;
}

.card__posts_comments ul > li {
  font-weight: 300;
  font-size: 13px;
}

.card__posts_comments h3 {
  color: black;
  padding: 5px;
  font-weight: 600;
  font-size: 14px;
} 

.card__posts_comments p {
  color: black;
  padding: 5px;
  font-weight: 600;
  font-size: 11px;
}

